@charset "UTF-8";

body{
    background-color: #FFB6C1;
}

footer{
    background-color: #333;
    color:#FFFFFF;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer span{
    color: #FF0000
}

/* Typewriter effect styling */
.typewriter {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid; /* Cursor effect */
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Animation for typing */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Blinking cursor animation */
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}